/* <!-- style tags:
<style>
  h1 {
    color: blue;
  }
</style>

<link
rel= "stylesheet"
href= "myStyles.css"> */

a{
  color: rgb(81,150,210);
  font-size: 18px;
}

heading{
  color: rgb(57,116,168);
  font-size: 35px;
}
